<section class="container mt-4 mb-grid-gutter">
    <div class="bg-faded-info rounded-3 py-4">
      <div class="row align-items-center">
        <div class="col-md-5">
          <div class="px-4 pe-sm-0 ps-sm-5"><span class="badge bg-danger">Limited Offer</span>
            <h3 class="mt-4 mb-1 text-body fw-light">All new</h3>
            <h2 class="mb-1">Last Gen iPad Pro</h2>
            <p class="h5 text-body fw-light">at discounted price. Hurry up!</p>
            <div class="countdown py-2 h4" data-countdown="07/01/2023 07:00:00 PM">
              <div class="countdown-days"><span class="countdown-value"></span><span class="countdown-label text-muted">d</span></div>
              <div class="countdown-hours"><span class="countdown-value"></span><span class="countdown-label text-muted">h</span></div>
              <div class="countdown-minutes"><span class="countdown-value"></span><span class="countdown-label text-muted">m</span></div>
              <div class="countdown-seconds"><span class="countdown-value"></span><span class="countdown-label text-muted">s</span></div>
            </div><a class="btn btn-accent" href="#">View offers<i class="ci-arrow-right fs-ms ms-1"></i></a>
          </div>
        </div>
        <div class="col-md-7"><img src="img/home/banners/offer.jpg" alt="iPad Pro Offer"></div>
      </div>
    </div>
  </section>