<section class="container pb-4 pb-md-5">
    <div class="row">
      <!-- Bestsellers-->
      <div class="col-md-4 col-sm-6 mb-2 py-3">
        <div class="widget">
          <h3 class="widget-title">Bestsellers</h3>
          <div class="d-flex align-items-center pb-2 border-bottom"><a class="d-block flex-shrink-0" href="shop-single-v2.html"><img src="img/shop/cart/widget/05.jpg" width="64" alt="Product"></a>
            <div class="ps-2">
              <h6 class="widget-product-title"><a href="shop-single-v2.html">Wireless Bluetooth Headphones</a></h6>
              <div class="widget-product-meta"><span class="text-accent">$259.<small>00</small></span></div>
            </div>
          </div>
          <div class="d-flex align-items-center py-2 border-bottom"><a class="d-block flex-shrink-0" href="shop-single-v2.html"><img src="img/shop/cart/widget/06.jpg" width="64" alt="Product"></a>
            <div class="ps-2">
              <h6 class="widget-product-title"><a href="shop-single-v2.html">Cloud Security Camera</a></h6>
              <div class="widget-product-meta"><span class="text-accent">$122.<small>00</small></span></div>
            </div>
          </div>
          <div class="d-flex align-items-center py-2 border-bottom"><a class="d-block flex-shrink-0" href="shop-single-v2.html"><img src="img/shop/cart/widget/07.jpg" width="64" alt="Product"></a>
            <div class="ps-2">
              <h6 class="widget-product-title"><a href="shop-single-v2.html">Android Smartphone S10</a></h6>
              <div class="widget-product-meta"><span class="text-accent">$799.<small>00</small></span></div>
            </div>
          </div>
          <div class="d-flex align-items-center py-2"><a class="d-block flex-shrink-0" href="shop-single-v2.html"><img src="img/shop/cart/widget/08.jpg" width="64" alt="Product"></a>
            <div class="ps-2">
              <h6 class="widget-product-title"><a href="shop-single-v2.html">Android Smart TV Box</a></h6>
              <div class="widget-product-meta"><span class="text-accent">$67.<small>00</small></span>
                <del class="text-muted fs-xs">$90.<small>43</small></del>
              </div>
            </div>
          </div>
          <p class="mb-0">...</p><a class="fs-sm" href="shop-grid-ls.html">View more<i class="ci-arrow-right fs-xs ms-1"></i></a>
        </div>
      </div>
      <!-- New arrivals-->
      <div class="col-md-4 col-sm-6 mb-2 py-3">
        <div class="widget">
          <h3 class="widget-title">New arrivals</h3>
          <div class="d-flex align-items-center pb-2 border-bottom"><a class="d-block flex-shrink-0" href="shop-single-v2.html"><img src="img/shop/widget/06.jpg" width="64" alt="Product"></a>
            <div class="ps-2">
              <h6 class="widget-product-title"><a href="shop-single-v2.html">Monoblock Desktop PC</a></h6>
              <div class="widget-product-meta"><span class="text-accent">$1,949.<small>00</small></span></div>
            </div>
          </div>
          <div class="d-flex align-items-center py-2 border-bottom"><a class="d-block flex-shrink-0" href="shop-single-v2.html"><img src="img/shop/widget/07.jpg" width="64" alt="Product"></a>
            <div class="ps-2">
              <h6 class="widget-product-title"><a href="shop-single-v2.html">Laserjet Printer All-in-One</a></h6>
              <div class="widget-product-meta"><span class="text-accent">$428.<small>60</small></span></div>
            </div>
          </div>
          <div class="d-flex align-items-center py-2 border-bottom"><a class="d-block flex-shrink-0" href="shop-single-v2.html"><img src="img/shop/widget/08.jpg" width="64" alt="Product"></a>
            <div class="ps-2">
              <h6 class="widget-product-title"><a href="shop-single-v2.html">Console Controller Charger</a></h6>
              <div class="widget-product-meta"><span class="text-accent">$14.<small>97</small></span>
                <del class="text-muted fs-xs">$16.<small>47</small></del>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center py-2"><a class="d-block flex-shrink-0" href="shop-single-v2.html"><img src="img/shop/widget/09.jpg" width="64" alt="Product"></a>
            <div class="ps-2">
              <h6 class="widget-product-title"><a href="shop-single-v2.html">Smart Watch Series 5, Aluminium</a></h6>
              <div class="widget-product-meta"><span class="text-accent">$349.<small>99</small></span></div>
            </div>
          </div>
          <p class="mb-0">...</p><a class="fs-sm" href="shop-grid-ls.html">View more<i class="ci-arrow-right fs-xs ms-1"></i></a>
        </div>
      </div>
      <!-- Top rated-->
      <div class="col-md-4 col-sm-6 mb-2 py-3">
        <div class="widget">
          <h3 class="widget-title">Top rated</h3>
          <div class="d-flex align-items-center pb-2 border-bottom"><a class="d-block flex-shrink-0" href="shop-single-v2.html"><img src="img/shop/widget/10.jpg" width="64" alt="Product"></a>
            <div class="ps-2">
              <h6 class="widget-product-title"><a href="shop-single-v2.html">Android Smartphone S9</a></h6>
              <div class="widget-product-meta"><span class="text-accent">$749.<small>99</small></span>
                <del class="text-muted fs-xs">$859.<small>99</small></del>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center py-2 border-bottom"><a class="d-block flex-shrink-0" href="shop-single-v2.html"><img src="img/shop/widget/11.jpg" width="64" alt="Product"></a>
            <div class="ps-2">
              <h6 class="widget-product-title"><a href="shop-single-v2.html">Wireless Bluetooth Headphones</a></h6>
              <div class="widget-product-meta"><span class="text-accent">$428.<small>60</small></span></div>
            </div>
          </div>
          <div class="d-flex align-items-center py-2 border-bottom"><a class="d-block flex-shrink-0" href="shop-single-v2.html"><img src="img/shop/widget/12.jpg" width="64" alt="Product"></a>
            <div class="ps-2">
              <h6 class="widget-product-title"><a href="shop-single-v2.html">360 Degrees Camera</a></h6>
              <div class="widget-product-meta"><span class="text-accent">$98.<small>75</small></span></div>
            </div>
          </div>
          <div class="d-flex align-items-center py-2"><a class="d-block flex-shrink-0" href="shop-single-v2.html"><img src="img/shop/widget/13.jpg" width="64" alt="Product"></a>
            <div class="ps-2">
              <h6 class="widget-product-title"><a href="shop-single-v2.html">Digital Camera 40MP</a></h6>
              <div class="widget-product-meta"><span class="text-accent">$210.<small>00</small></span>
                <del class="text-muted fs-xs">$249.<small>00</small></del>
              </div>
            </div>
          </div>
          <p class="mb-0">...</p><a class="fs-sm" href="shop-grid-ls.html">View more<i class="ci-arrow-right fs-xs ms-1"></i></a>
        </div>
      </div>
    </div>
  </section>