{% extends 'core/base.html' %}

{% block banner %}
{% include 'core/banner.html' %}
{% endblock banner %}


{% block content %}

<section class="container pt-5">
    <!-- Heading-->
    <div class="d-flex flex-wrap justify-content-between align-items-center pt-1 border-bottom pb-4 mb-4">
      <h2 class="h3 mb-0 pt-3 me-2">Trending products</h2>
      <div class="pt-3"><a class="btn btn-outline-accent btn-sm" href="shop-grid-ls.html">More products<i class="ci-arrow-right ms-1 me-n1"></i></a></div>
    </div>
    <!-- Grid-->
    <div class="row pt-2 mx-n2">
      <!-- Product-->
      {% for product in products %}
      <!-- Product-->
        <div class="col-lg-3 col-md-4 col-sm-6 px-2">
            <div class="card product-card">
                <div class="product-card-actions d-flex align-items-center"><a class="btn-action nav-link-style me-2" href="#">
                    <i class="ci-compare me-1"></i>Compare</a>
                    <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist">
                        <i class="ci-heart"></i>
                    </button>
                </div>
                    <a class="card-img-top d-block overflow-hidden" href="shop-single-v2.html">
                        <img src="  " alt="Product">
                    </a>
                    <div class="card-body py-2"><a class="product-meta d-block fs-xs pb-1" href="#"> {{ product.sub_cate }} </a>
                        <h3 class="product-title fs-sm"><a href="shop-single-v2.html"> {{ product.name }} </a></h3>
                    <div class="d-flex justify-content-between">
                        <div class="product-price"><span class="text-accent">BDT{{ product.price }} </span></div>
                    </div>
                </div>
              <div class="card-body card-body-hidden">
                <button class="btn btn-primary btn-sm d-block w-100 mb-2" type="button"><i class="ci-cart fs-sm me-1"></i>Add to Cart</button>
                <div class="text-center"><a class="nav-link-style fs-ms" href="#quick-view-electro" data-bs-toggle="modal"><i class="ci-eye align-middle me-1"></i>Quick view</a></div>
              </div>
            </div>
        </div>
        {% endfor %}
    </div>
  </section>

{% endblock content %}