{% extends "sellers/base.html" %}
{% block content %}
<div class="card-body">
  <!-- .form-group -->
  <div class="form-group">
    <!-- .input-group -->
    <div class="input-group input-group-alt">
      <!-- .input-group-prepend -->
      <div class="input-group-prepend">
        <select class="custom-select">
          <option selected=""> Filter By </option>
          <option value="1"> Tags </option>
          <option value="2"> Vendor </option>
          <option value="3"> Variants </option>
          <option value="4"> Prices </option>
          <option value="5"> Sales </option>
        </select>
      </div><!-- /.input-group-prepend -->
      <!-- .input-group -->
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><span class="oi oi-magnifying-glass"></span></span>
        </div><input type="text" class="form-control" placeholder="Search record">
      </div><!-- /.input-group -->
    </div><!-- /.input-group -->
  </div><!-- /.form-group -->
  <!-- .table-responsive -->
  <div class="text-muted"> Showing 1 to 10 of 1,000 entries </div>
  <div class="table-responsive">
    <!-- .table -->
    <table class="table">
      <!-- thead -->
      <thead>
        <tr>

          <th>  </th>
          <th> Inventory </th>
          <th> Viewed </th>
          <th> Prices </th>
          <th> Sold </th>
          <th> Returned </th>
          <th> In Cart </th>
          <th> Total Earning </th>
          <th style="width:100px; min-width:100px;"> &nbsp; </th>
        </tr>
      </thead><!-- /thead -->
      <!-- tbody -->
      <tbody>
        <!-- tr -->
        {% for product in products %}

        <tr>

          <td>
            <a href="#" class="tile tile-img mr-1">
              <img class="img-fluid" src="{{ product.image.url }}" alt="Card image cap">
            </a>
            <a href="#">{{ product.name }}</a>
          </td>
          <td class="align-middle"> 329 </td>
          <td class="align-middle"> {{ product.visited }} </td>
          <td class="align-middle"> BDT {{ product.price }} </td>
          <td class="align-middle"> Not Available </td>
          <td class="align-middle"> Not Available </td>
          <td class="align-middle"> Not Available </td>
          <td class="align-middle"> Not Available </td>
          <td class="align-middle text-right">
            <a href="#" class="btn btn-sm btn-icon btn-secondary"><i class="fa fa-pencil-alt"></i> <span class="sr-only">Edit</span></a> <a href="#" class="btn btn-sm btn-icon btn-secondary"><i class="far fa-trash-alt"></i> <span class="sr-only">Remove</span></a>
          </td>
        </tr><!-- /tr -->

        {% endfor %}

        <!-- tr -->

      </tbody><!-- /tbody -->
    </table><!-- /.table -->
  </div><!-- /.table-responsive -->
  <!-- .pagination -->
  <ul class="pagination justify-content-center mt-4">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1"><i class="fa fa-lg fa-angle-left"></i></a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">...</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">13</a>
    </li>
    <li class="page-item active">
      <a class="page-link" href="#">14</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">15</a>
    </li>
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">...</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">24</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#"><i class="fa fa-lg fa-angle-right"></i></a>
    </li>
  </ul><!-- /.pagination -->
</div>
{% endblock content %}